{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!--<div class="container-fluid">-->
    <div class="row">
        <div class="col-md-12">
            <div class="name">
                <div class="title-text">
                <h2><b>T0D0</b></h2>
                </div>
            </div>
        </div>
    </div>
</div>

</head>
<body >
{% block content %}
{% endblock %}
</body>
</html>